NEXT_PUBLIC_APP_URL=... # set it to http://localhost:3000 during development and https://eventnexus.in in production 
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appName>"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
SIGNING_SECRET="whsec_..."

NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_SECRET_ID="..." 
RAZORPAY_WEBHOOK_SECRET="..."

RESEND_API_KEY="..."
SEND_MAILS= # set it to any value if you want to send mails
