DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appName>"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
SIGNING_SECRET="whsec_..."

NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_SECRET_ID="..." 
